$nav-main-color: #1C1C1C;
$white-text-color: #ffff;
$blue-banner: #127FF2;
$footer-second-bgcolor: #2C2C2C;
$list-text-footer-color: rgb(115, 115, 115);
$list-text-footer-color-hover: rgb(164, 159, 159);